body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
}

.header-container {
    display: flex;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    margin-left: 76px;
}


.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    align-items: center;
    justify-content: center;;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link.current {
    color: #404bbf;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    column-gap: 40px;
    margin-left: auto;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    margin-left: auto;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    text-align: center;
}

.hero h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.features h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
}

.features p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.features-list {
    display: flex;
    column-gap: 24px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}



.features-icon-wrapper {
    height: 64px;
    width: 60px;
    display: block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-icon {
    fill: #2e2f42;
}

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.accent {
    color: #4d5ae5;
}

.team-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:hover {
    transform: scale(1.1);
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

.team-member-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-member-role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.social-list {
    display: flex;
    column-gap: 24px;
}

.social-item-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: #404bbf;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.team-card-content {
    padding: 32px 16px;
    text-align: center;
}

.team-card-content h3 {
    padding-bottom: 8px;
}

.team-title {
    padding-bottom: 72px;
    line-height: 1.11;
}

.team-list {
    display: flex;
    column-gap: 24px;
}

.team {
    padding-bottom: 120px;
}

.team-list-item {
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    border-radius: 0 0 4px 4px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-item-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-type {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
}

.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-content h3 {
    margin-bottom: 8px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-card-content:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.page-footer p {
    width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-left {
    margin-right: 120px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe {
    margin-left: auto;
}

.subscribe-field {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    background-color: #2e2f42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-field:focus {
    border-color: #31d0aa;
    outline: none;
}

.subscribe-field::placeholder {
    color: #fff;
}

.form-subscribe-btn {
    border-radius: 4px;
    padding: 16px 32px; 
    height: 40px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    color: #fff;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.form-subscribe-btn:hover,
.form-subscribe-btn:focus {
    background-color: #31d0aa;
}


.subscribe-icon {
    fill: #fff;
}

.footer-social-title {
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list .social-item-link {
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .social-item-link:hover,
.footer-social-list .social-item-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup-review {
    position: relative;
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 408px;
    height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    max-width: 408px;
    max-height: 80%;
    overflow-y: auto;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.close-popup {
    position: absolute;
    fill: #2e2f42;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup:hover,
.close-popup:focus {
    fill: #FFFFFF;
    background-color: #404bbf;
    border: none;
}

.close-popup:hover svg,
.close-popup:focus svg {
    fill: #ffffff;
}


.feedback-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
}

.privacy-link:hover,
.privacy-link:focus {
    text-decoration: underline;
}

.field-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.field-wrapper-inner {
    position: relative;
}

.label-field {
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}

.text-field {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 38px;
    color: #2e2f42;
}

.text-field:focus {
    border-color: #4d5ae5;
    outline: none;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus + .form-icon {
    fill: #4d5ae5;
    outline: none;

}

.input-checkbox:checked + .terms-label .custom-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;;
}

.input-checkbox:checked ~ .custom-checkbox .checkbox-icon {
    opacity: 1;
    fill: #F4F4FD;
}

.input-checkbox:checked ~ .terms-label .checkbox-icon {
    opacity: 1;
}

.input-checkbox:focus ~ .terms-label .custom-checkbox {
    border-color: #404bbf;
    background-color: #404bbf;
    outline: none;
    opacity: 1;
}

.comment-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.comment-field:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.comment-field-wrapper {
    margin-bottom: 16px;
}

.terms-label {
    display: inline-block;
    align-items: baseline;
    column-gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.form-submit-btn {
    border-radius: 4px;
    padding: 16px 32px; 
    height: 56px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 65px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: block;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
    background-color: #404bbf;
}


